/* *{
    border:red solid;
    
} */

#banner{
    width: 100%;
    z-index: 0;
}
b{
    font-family: 'Orbitron', sans-serif;

}
#cover {
   
    position: relative;
 }
/* #headln {
    float: left;
    position: absolute;
    left: 50%;
    bottom: 10% ;
    z-index: 1;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold; 
 } */
 #content-menu{
    display: flex;
    width: 73%;
    justify-content: space-between;
    float: left;
    position: absolute;
    left: 25%;
    bottom: 3%;
    align-content: flex-end;
    height: 30%;
    background-image: url("img/bgbutton.png");
    background-size: 100% 100%;
    
   
 }
 
 
  
 
 
 

 #valk, #boss, #attack{
    /* box-shadow: 5px 10px 8px 10px #0099cc; */
    width: 80%;
    height: 80%;
    background-size: 100% 100%;
    margin: 9%;
    color: rgb(198, 232, 243, 0);
    font-family: 'Armata', sans-serif;
    font-size: larger;
    
 }
 #valk:hover, #boss:hover, #attack:hover{
    /* border: #08FFD8 solid ; */
    box-shadow: 0 0;
    color: white;
    box-shadow: 0 0 10px #00c3ff;
    line-height: 200px;
    text-align: center;
    font-size: 30px;
    
 }
 #valk:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/valk.jpg");
    background-size: 100% 100%;
}
 #boss:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/boss.jpg");
    background-size: 100% 100%;
 }
 #attack:hover{
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/attack.jpg");
    background-size: 100% 100%;
 }


 #valk{
    background-image: url("img/valk.jpg");
 }
 #boss{
    background-image: url("img/boss.jpg");
 }
 #attack{
    background-image: url("img/attack.jpg");
 }

 
 #overview{
     background-image: url("img/bannerwvalk.png");
     position: relative;
     background-size: 100% 100%;
     width: 100%;
     
     font-size: larger;
     color: white;
     
     background-repeat: no-repeat;
 }
 #bgovv{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(4px);
 }
 #ovtxt{
    padding-top: 5%;
    padding-left: 40%;
    padding-right: 3%;
    padding-bottom: 10%;
    width: 57%;
    height: 85%;
 }
 h1.ovvtext{
   font-family: 'MuseoModerno', cursive;

 }
 p.ovvtext{
   font-family: 'Mukta', sans-serif;
 }
 