body, html{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
 }
 body{
    background-image: url("img/bgvalkk.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 #drop-content{
    display: none;
 }
 #drop{
    color: #ffffff;
    width: 50px;  
    
 }
 i{
    text-decoration: none;
 }
 .dropname{
   font-family: 'Armata', sans-serif;
   font-size: larger;
 }
 
 #drop:hover  #drop-content{
    display: block;
    z-index: 2;
    color: white;
    background-color: aqua;
    margin-top: 40px;
    width: 130px;
    border-right: rgb(40, 14, 134) solid;
    border-bottom: rgb(40, 14, 134) solid;
 }
 #drop-content:hover{
   display: block;
   
 }
 
 #logo{
    position: fixed;
    width: initial;
    top: 50px;
    z-index: 1;
 }
 #navbar{
    position: fixed;
    height: 40px;
    z-index: 2;
    background-color: rgb(40, 14, 134);
    display: flex;
    width: 330px;
    border-right: #EB8100 solid;
    border-bottom: #EB8100 solid;
 } 

 #footer{
    background-image: url("img/bg2.jpg");
    background-size: 100% 100% ;
    display: flex;
    justify-content: space-around;
    color: rgb(198, 232, 243);
    font-family: 'Roboto', sans-serif;

 } 
 #footer a{
    color: rgb(198, 232, 243, 0.5);
 }
 footer a:hover{
    color: white;
 }
 a{
   text-decoration: none;
   cursor: pointer;
 }
 a:hover{
    color: white !important;
 }
 .download{
    padding: 10px;
 }

#banner{
   position: relative;
}
#banner img{
    /* background-image: url("img/ritateri.jpg"); */
    width: 100%;
    height: 100%;
    
}
#intro{
   position: absolute;
   top: 20%;
   color: #ffffff;
   left: 47%;
   right: 7%;
   font-size: larger;
   font-family: Arial, Helvetica, sans-serif;
   
}


#valk{
   display: flex;
}

.filter{
   border: #EB8100 solid;
   height: fit-content;


}
.fix-filter {
   position: fixed;
   top: 50px;
}


    
#valklist div :hover{
    box-shadow: 0 0 10px #00c3ff;
    /* border: 3px solid #00c3ff; */
    border-radius: 20px;
    /* transform: skewX(-15deg); */
    box-sizing: content-box;
 
}

#valklist i{
    font-family: 'Impact', sans-serif;
    color: #ffffff;
    font-size: 26px;
    margin-left: 10px;
}

/* The Modal (background) */
.myModal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 /* Modal Content/Box */
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
 }
 
 /* The Close Button */
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover, .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }