
 body{
    background-image: url("img/bgvalkk.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 

#banner{
   position: relative;
}
#banner img{
    /* background-image: url("img/ritateri.jpg"); */
    width: 100%;
    height: 100%;
    
}
#intro{
   position: absolute;
   top: 20%;
   color: #ffffff;
   left: 47%;
   right: 7%;
   font-size: larger;
   font-family: Arial, Helvetica, sans-serif;
   
}


#valk{
   display: flex;
}

.filter{
   /* border: #EB8100 solid; */
   height: 70%;
   width: 25%;
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   padding-left:  1.5%;
   overflow-y: auto; 
   margin-right: 2%;
   background-color: rgba(0, 0, 0, 0.6);
}
.fix-filter {
   position: fixed;
   top: 160px;
   overflow-y: scroll; 
   width: 22%;
}

.checkbox{
   padding-left: 2%;
}
.checkbox img{
   height: 25px;
}
#typecb #valkcb #featurescb{
   margin-top: 100px;
   padding-top: 100px;
}


    
.valkimg:hover{
    box-shadow: 0 0 10px #00c3ff;
    /* border: 3px solid #00c3ff; */
    border-radius: 20px;
    /* transform: skewX(-15deg); */
    box-sizing: content-box;
   cursor: pointer;
}
.valklist{
   padding-left: 2%; width: 75%;
}
.newvalklist{
   padding-left: 29%; 
  
}
#valklist i{
    font-family: 'Impact', sans-serif;
    color: #ffffff;
    font-size: 35px;
    margin-left: 3%;
}

/* The Modal (background) */
.myModal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   /* overflow: auto; Enable scroll if needed */
   background-color: rgb(255, 255, 255); /* Fallback color */
   background-color: rgba(36, 34, 34, 0.7); /* Black w/ opacity */
   
 }
 
 /* Modal Content/Box */
 .modal-content {
   background-color: 
   /* rgb(1, 179, 170,0.8) ; */
   /* rgb(11, 161, 223,0.8); */
   /* rgb(63, 119, 230,0.8); */
   rgba(6, 48, 87, 0.8);
   margin: 9% auto; /*from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 37%; /* Could be more or less, depending on screen size */
   height: fit-content;
   color: white;
}
 
 /* The Close Button */
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover, .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
 .myModal img{
    height: 80%;
 }
 .modal-content  img{
    width: 15%;
 }

 .content-feature img{
    width: 40%;
 }

 .modal-content h1{
   font-family: 'Montserrat', sans-serif;
 }

 .modal-content p{
   font-family: 'Mukta', sans-serif;
   font-size: 20px;
   margin-bottom: 0;
 }